*{font-family: Arial, Helvetica, sans-serif; padding: 0; margin: 0;}
html{box-sizing: border-box;}
body{overflow-x: hidden;}
body, html{
    width: 100%;
    height: 100%;
    background-color: #f5f4f4;
}
*,*::before,*::after {box-sizing: inherit;}
.setfocus, button, input{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    text-decoration: none;
    background: none;
}
input:focus{
    box-shadow: 0px 2px 3px #ac71ff;
}
/*Clases flexbox */
.f, .column, .wrap, .nowrap, .f4{display: flex;}
.column{flex-direction: column;}
.wrap{flex-wrap: wrap;}.nowrap{flex-wrap: nowrap;}
.f1, .f1x, .f1x2x, .f1x2y, .f1x3x .f1x3y{justify-content: flex-start;display: flex;}
.f1, .f1y, .f1y2x, .f1y2y, .f1y3x .f1y3y{align-items: flex-start;display: flex;}
.f2, .f2x, .f1x2x, .f1y2x, .f2x3x, .f2x3y{justify-content: center;display: flex;}
.f2, .f2y, .f1x2y, .f1y2y, .f2y3x, .f2y3y{align-items: center;display: flex;}
.f3, .f3x, .f1x3x, .f2x3x, .f1y3x, .f2y3x {justify-content: flex-end;display: flex;}
.f3, .f3y, .f1x3y, .f2x3y, .f1y3y, .f2y3y{align-items: flex-end;display: flex;}

.f4{justify-content: space-between;}
.width, .full {width: 100% !important;}
.height, .full{height: 100% !important;}

/*PADDINGS O RELLENOS*/
.p1, .p1y, .p1t{padding-top: 1em;} .p1, .p1y, .p1y {padding-bottom: 1em;}
.p1, .p1x, .p1l {padding-left: 1em;} .p1, .p1x, .p1r {padding-right: 1em;}
.p2, .p2y, .p2t{padding-top: 2em;} .p2, .p2y, .p2y {padding-bottom: 2em;}
.p2, .p2x, .p2l {padding-left: 2em;} .p2, .p2x, .p2r {padding-right: 2em;}

/*MÁRGENES*/
.m1, .m1y, .m1t{margin-top: 0.3em;} .m1, .m1y, .m1y {margin-bottom: 0.3em;}
.m1, .m1x, .m1l {margin-left: 0.3em;} .m1, .m1x, .m1r {margin-right: 0.3em;}
.m2, .m2y, .m2t{margin-top: 0.8em;} .m2, .m2y, .m2y {margin-bottom: 0.8em;}
.m2, .m2x, .m2l {margin-left: 0.8em;} .m2, .m2x, .m2r {margin-right: 0.8em;}

.targetPhone{
    background-color: rgb(255, 255, 255);
    margin: 5px 10px;
    padding: 8px;
    height: 490px;
    width: 300px;
    border-radius: 30px;
    border: 10px solid #0b0c11;
    position: relative;
}
.targetPhone::before{
    content: "";
    position: absolute;
    background-color: #0b0c11;
    padding: 8px 0px;
    width: 150px;
    top: 0;
    left: 68px;
    border-radius: 0px 0px 30px 30px;
}
.targetPhone::after{
    content: "";
    position: absolute;
    background-color: rgb(61, 61, 61);
    padding: 2px 0px;
    width: 70px;
    top: 3px;
    left: 109px;
    border-radius: 20px;
}
.targetHeader{
    box-shadow: 0px 2px #e3ebf5c7;
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
}
.targetContent{
    height: 100%;
    overflow-y: auto;
}
.rowTareas{
  margin-top: 14px;
   width: 100%;
   align-self: flex-start;
}
.tarea{
    background-color: rgb(217, 219, 255);
    color: #020025;
    margin-bottom: 5px;
    padding: 6px;
    border-radius: 14px;
    width: 100%;
    align-self: flex-start !important;
}
.addFormTarea{
    background-color: #cbe0f8ee;
    position: absolute;
    padding: 8px;
    border-radius: 20px;
    box-shadow: 3px 6px 11px #323a63;
    width: 100%;
}
.addFormTarea input{
    width: 100%;
}
.headerOtd{
    padding: 20px 0;
}
.headerArea{
    box-shadow: 0px 3px #0b0c11;
    transition: 0.3s;
    padding: 0.5em 2.5em;
}
.addArea, .relative{position: relative;}
.msg{
    padding: 2px 8px;
    border-radius: 20px;
    font-weight: bold;
    background-color: #a8d2f5f6;
    color: #00495c;
    font-size: 12px;
    position: absolute;
    top: -22px;
    transition: 0.3s;
}
.success{
    background-color: #92f7a3f6;
    color: #003a05;
}
/* COLORES ORGANIZATODAY*/
.b1{background-color: #0b0c11;}
.c1{color: #4dd358;}
.b2{background-color: #0b0c11;}
.c2{color: #0b0c11;}
.c3{color: #2c75b4;;}
.c6{color: #fcb6c9;}
.c4{color: #275d8b;}

.tOtd{
    font-size: 3rem;
    color: #011a05;
}
.bold{font-weight: bold;}
.simpleTitle{
    font-weight: bold;
    font-size: 22px;
}
.minTitle{font-size: 11px;background-color: rgba(68, 68, 68, 0.719); padding: 2px 5px;border-radius: 20px;}
.t2{text-align: center;}
span{display: inline-block;}
/* INPUTS */
.pointer{cursor: pointer;}
button, .button{
  border: none;
  padding: 8px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 16px;
  margin: 5px;
  font-size: 14px;
  background-color: #80e289;
  color: #002700;
}

input{
    border: none;
    padding: 8px 10px;
    border-radius: 20px;
    background-color: #262926;
    color: #f5f4f4;
}